* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: mediumorchid;
}

nav {
    position: fixed;
    background: grey;
    width: 100%;
    text-align: right;
    z-index: 9999;
    
}

nav li {
    border: 1px dashed darkblue; 
    border-radius: 5px;
    color: cornflowerblue;
    display: inline-block;
    width: 70px;
    Margin: 10px;
    text-align: center;
    position: relative;
}

nav a:hover{
    color: hotpink;
}

nav li:active{
    top: 2px;
}

h1 {
    color: aquamarine;
    font-style: italic;
    border: 2px solid blue;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    height: 200px;
    margin: 15px auto;
    background-image: url(DSC_0655.JPG);
}
body {
    font-family: Garamond;
    background: gradient(45deg, #FFF, 0%, #000, 100%);
   }
p {
    font-size: 600px;
}

table {
    border: 1px dotted black;
    text-align: center;
    max-width: 900px;
    min-width: 100px;
    overflow: scroll;
    margin: 5px auto;
    padding: 5px;
    background: gradient; 
}
.Grid {
    display: grid;
    width: 100%;
    grid-template: 1fr / 1fr 1fr;
}
.Pictures {
    border: 40px purple;
    
}
cell clickable
image-cover
